.produtos {
	width: 940px;
	margin: 0 auto;
	background-color: #eeeeee;
	margin-bottom: 2%;
}

.produto {
	padding-left: 225px;
    display: flex;
	width: 100%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px 20px;
	box-sizing: border-box;
	border-radius: 10px;
}

.produto img {
	margin-right: 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	width: 250px;
}

.produto p {
	display: block;
	margin: 50px 272px;
	position:absolute;
	height: 50px;
	font-size: 20px;
}

.produto h2 {
	display: block;
	margin: 140px 272px;
	position:absolute;
	font-size: 20px;
}

.produto h1 {
	position: absolute;
	margin-left: 272px;
	display: block;
	height: 50px;
	font-size: 30px;
}


/*CSS DA BARRA DE PESQUISA👇*/

.divBusca{
    background-color:#E0EEEE;
    border:solid 2px #db8742;
    border-radius:10px;
    width:500px;
    height:36px;
}

.txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:425px;
}

.btnBusca{
    border:none;
    float:right;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#eec81f;
}

.divBusca img{
    float:left;
}

.corpo{
	margin: 5% 0 -70px 35%;
}

.btncomprar{
	border:none;
    height:40px;
    width:100px;
    font-weight:bold;
	display: block;
    background:#eec81f;
	margin-left: 501px; /*n consegui por o botão comprar NA RISCA do background*/
	margin-top: 100px;
}
