.imgCARRINHO{
    margin-left: 15%;
    border-bottom: 70px solid rgb(255, 194, 50);
    border-left: 30px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 70%;
    display: flex;
}

.imgCARRINHO h1{
    padding-top: 5px;
    padding-left: 200px;
}

/*cart items*/

.cart-page{
    padding-top: 4%;
    padding-left: 12%;
    width: 87%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    padding: 0.6%;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

/*ESPAÇAMENTO DOS TH DA TABELA👇👇*/
.titulo{
    padding-left: 1%;
}

.quantidade{
    padding-left: 17%;
}

.produto{
    padding-left: 13%;
}

.preco{
    padding-left: 11%;
}

.subtotal{
    padding-left: 9.7%;
}

.excluir{
    padding-right: 3%;
}
/*ESPAÇAMENTO DOS TH DA TABELA👆👆*/

.imgtrash{
    padding-left: 20px;
    max-width: 50px;
    max-height: 30px;
    margin-right: 30px;
}

.valoresprodutos{
    margin-top: 40px;
}

.total{
    padding-left: 50px;
}

.teste{
    padding-left: 90px;
}

td{
    padding: 1% 0%;
}

td input{
    width: 50%;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.containerPRODUTOS{
    padding: 30px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
    
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 372px;
    padding-top: 100px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}
