.product{
    padding-left: 130px;
    padding-top: 86px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;

}

.botoes{
    text-align: center;
    padding-top: 140px;
    padding-left: 130px;
    
}

input{
    
    border-radius: 30px;
}