
.sidebar{
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background:  rgb(184, 183, 183);
    box-shadow: 0px 0px 3px 3px #00000074;
}

.sidebar p {
    font-size: 200%;
    color: white;
    text-align: center;
    line-height: 100px;
    background: gray;
    
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;

    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    text-decoration: none;
    padding-left: 5%;
}
ul li:hover a{
    padding-left: 20%;
}

.sidebar ul a i{
    margin-left: 16px;
}

ul{
    padding-left: 1px;
}

i{
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.invisivel{
    color: rgb(56, 53, 53);
}

.center{
    padding-left: 300px;
}

.sair{
    padding-top: 15%;
}

@media screen and (max-width: 600px){

    .sidebar{
        width: 10%;
    }

    .bi-clock{
        margin-left: 35%;
    }

    .bi-truck{
        margin-left: 35%;
    }

    .bi-box-seam{
        margin-left: 35%;
    }

    .bi-x-circle{
        margin-left: 35%;
    }

    .bi-box-arrow-left{
        margin-left: 35%;
    }

    .sidebar p{
        font-size: 150%;
    }

    .sidebar small{
        display: none;
    }


}