/*TODO LINK VAI FICAR VERMELHO*/
a:hover{
    color: red;
}

a{
    color: black;
    text-decoration: none;  
}

h5{
    font-weight: bold;
}

.container-footer {
    background-color: rgb(255, 194, 50);
}

.font-f {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.contact {
    margin: 0 0 1px;
}

.social-networks {
    display: inline;
    width: 40px;
    height: 40px;
}

.logo-f > img {
    width: 160px;
    height: 120px;
    padding-left: 20px;
}

@media screen and (max-width: 768px) and (max-width:600px){
    .logo-f {
        padding-left: 30%;
    }

    .font-f{
        text-align: center;
        padding-left: 15%;
    }

    ul{
        list-style-type: none;
    }
}
