.admDELET{
    padding-left: 70px;
    margin-left: 150px;
    border-bottom: 70px solid rgb(255, 194, 50);
    border-left: 30px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 500px;
    display: flex;
}

.cart-page{
    padding-top: 60px;
    padding-left: 350px;
    width: 1151px;
}

.cart-page .codigo{
    /*padding-left: 100px; mover a palavra código para a esquerda*/
}

table{
    width: 110%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #383535;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

.cart-info p{
    padding-left: 10px;
}

.centralizado{
    padding-left: 15px;
}

.centralizado2{
    padding-left: 20px;
}

td a{
    color: #ff523b;
    font-size: 12px;
    padding-left: 10px;
}