.product{
    padding-top: 120px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;

}

.botoes{
    text-align: center;
    padding: 30px;
    text-decoration: none;
    padding-bottom: 89px;
}

input{
    
    border-radius: 30px;
}