.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
	margin-top: 10%;
}

.produto {
	width: 100%;
	height: 250px;
	display: inline-block;
}

.produto img {
	margin: 0 20px 20px 0;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	width: 250px;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 10px;
}