/*.product{
    padding-left: 130%;
    padding-top: 86px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;

}
*/

.botoess{
    text-align: center;
    padding-top: 5%;
    padding-left: 15%;
}
