h1{
    background-color: orange;
    font-size: 190%;
    padding: 1% 0%;
}

.sobre{
    color: rgb(73, 69, 69);
    font-size: larger;
    font-size: 190%;
    padding: 3%;
    background-color: rgb(240, 230, 196);
    padding-top: 3%;
    
}

/*imagem da mulher*/
.img-pessoa{
    padding-top: 7%;
    padding-left: 10%;
}

.corpo{
    padding-left: 15%;
    display: flex;
}

.corpoo{
    padding-left: 15%;
    display: flex;
}

.u{
    color: rgb(73, 69, 69);
    font-size: larger;
    font-size: 180%;
    padding: 30px;
    text-align: center;   
}

.mapa{
    text-align: center;
    padding-bottom: 3%;
}

@media screen and (max-width: 600px){

    
    .corpo{
        padding-left: 25%;
        font-size: small;
        background-color: white;
    }

    .corpoo{
        padding-left: 0%;
        font-size: 70%;
    }

    b{
        text-align: center;
        font-size: 170%;
        word-wrap:normal;
        width: 200px; 
        border: 1px solid black;
    }

    /*faz a mulher sumir*/
    .img-pessoa{
        display: none;
    }

    .sobre{
        font-size: 210%;
    }

    .u{
        color: rgb(73, 69, 69);
        padding-left: 0%;
        font-size: 140%;
        padding-left: 10%;
    }

    .mapa iframe{
        
        padding-left: 0%;
        width: 100%;
        height: 100%;
    }
}

