.admEDIT{
    padding-left: 70px;
    margin-left: 150px;
    border-bottom: 70px solid rgb(255, 194, 50);
    border-left: 30px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 37%;
    display: flex;
}

.botoes{
    text-align: center;
    padding-left: 15%;
}