.voltar{
    padding-top: 70px;

} 

.admCLIENT{
    padding-left: 70px;
    margin-left: 150px;
    border-bottom: 70px solid rgb(255, 194, 50);
    border-left: 30px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 500px;
    display: flex;
}

.cart-page{
    padding-top: 4%;
    padding-left: 30%;
    width: 88%;


}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 1%;
    color: #fff;
    background: #383535;
    font-weight: normal;
}

td{
    padding: 1% 0%;
}

td a{
    color: #ff523b;
    font-size: 80%;
    padding-left: 10%;
}

.containerPRODUTOS{
    padding: 30%;
}

.cart-info p{
    padding-left: 10px;
}

.centralizado{
    padding-left: 5%;
}

.centralizado2{
    padding-left: 20%;
}
